.card__1 {
    --title-size: 1.5rem;
    --title-line-height: 1.5;
    --title-lines: 1;

    --text-size: 1.125rem;
    --text-line-height: 1.5;
    --text-lines: 2;
    
    position: relative;
    .card-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card-body {
        position: relative;
        font-size: 18px;
    }
    .card-heading {
        max-height: calc(var(--title-size) * var(--title-line-height) * var(--title-lines) );
        font-size: var(--title-size);
        font-weight: $font-weight-bold;
        line-height: var(--title-line-height);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .card-test {
        height: 100%;
        height: calc(var(--text-size) * var(--text-line-height) * var(--text-lines));
        font-size: var(--text-size);
        line-height: var(--text-line-height);
        overflow: hidden;
    }
}

.card__2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    .card-image {
        img {
        }
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .card-positions {
        font-style: italic;
    }
    a {
        color: $gray-900;
        text-decoration: none;
        transition: $transition-base;
    }
}