footer {
    a {
        color: $gray-900;
        text-decoration: none;
        transition: $transition-base;
    }
}

.list {
    &--footer {
        @include font-size(1.5rem);
        font-weight: $font-weight-bold;
    }
    footer & {
        li + li {
            margin-top: 10px;
        }
    }
}