footer {
    a {
        color: $gray-900;
        text-decoration: none;
        transition: $transition-base;
    }
    #footer__map {
        width: 100%;
        height: 200px;
        @include media-breakpoint-up(md) {
            height: 530px;
        }
    }
}

.list {
    &--footer {
        @include font-size(1.5rem);
        font-weight: $font-weight-bold;
        li {
            @include media-breakpoint-down(md) {
                margin-right: 30px;
                display: inline-block;
            }
        }
    }
    footer & {
        li + li {
            margin-top: 10px;
        }
    }
}