main {
    @include font-size(1.25rem);
}

img {
    max-width: 100%;
    height: auto;
}

b,
strong {
    font-weight: $font-weight-bold;
}

::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {background: $gray-100;}
::-webkit-scrollbar-thumb {background: $primary;}

.list {
    &--scroll {
        position: relative;
        margin: 0;
        @include font-size(2.25rem);
        ul {
            margin: 0;
            padding: 30px 22px 50px 0;
            max-height: 600px;
            overflow: auto;
        }
        li {
            + li {
                margin-top: 20px;
            }
        }
        &:before,
        &:after {
            content: "";
            position: absolute;
            right: 7px;
            left: 0;
            display: block;
            pointer-events: none;
        }
        &:before {
            top: 0;
            height: 30px;
            background: linear-gradient(to top, rgba(0,0,0,0), #ffffff);
            background: linear-gradient(to bottom, #ffffff, rgba(#ffffff, 0));
            
        }
        &:after {
            bottom: 0;
            height: 150px;
            background: linear-gradient(to top, #ffffff, rgba(#ffffff, 0));
        }
    }
}

.social__links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $gray-900;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    &:hover {
        border-color: $primary;
    }
}

.nav__pills {
    &--step {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        width: 100%;
        color: $gray-900;
        font-weight: $font-weight-bold;
        text-decoration: none;
        text-align: left;
        box-shadow: none !important;
        transition: 0.15s;
        &.collapsed {
            opacity: .5;
        }
        span {
            display: block;
        }
        .number {
            width: 120px;
            font-size: 3.75rem;
            line-height: normal;
            text-align: center;
            &:before {
                content: "";
                display: block;
                margin-bottom: -40px;
                width: 120px;
                height: 75px;
                background: $primary;
            }
        }
        .text {
            @include font-size(2.25rem);
        }
        ~ .nav__pills--step {
            margin-top: 40px;
        }
    }
    &--1 {
        .nav-link {
            margin-right: 25px;
            padding: 0;
            background: transparent;
            color: rgba($gray-900,.5);
            @include font-size(3rem);
            font-weight: $font-weight-bolder;
            @include media-breakpoint-up(lg) {
                margin-right: 125px;
            }
            &.active {
                background: transparent;
                color: $gray-900;
            }
        }
    }
}