main {
    @include media-breakpoint-up(lg) {
        @include font-size(1.25rem);
    }
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    + p {
        margin-top: 1rem;
    }
}

b,
strong {
    font-weight: $font-weight-bold;
}

::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {background: $gray-100;}
::-webkit-scrollbar-thumb {background: $primary;}

.list {
    &--scroll {
        position: relative;
        margin: 0;
        @include media-breakpoint-up(md) {
            @include font-size(2.25rem);
        }
        ul {
            margin: 0;
            overflow: auto;
            @include media-breakpoint-up(md) {
                padding: 30px 22px 50px 0;
                max-height: 600px;
            }
        }
        li {
            + li {
                margin-top: 10px;
                @include media-breakpoint-up(md) {
                    margin-top: 20px;
                }
            }
        }
        &:before,
        &:after {
            position: absolute;
            right: 7px;
            left: 0;
            display: block;
            pointer-events: none;
            @include media-breakpoint-up(md) {
                content: "";
            }
        }
        &:before {
            top: 0;
            height: 30px;
            background: linear-gradient(to bottom, #ffffff, rgba(#ffffff, 0));
            
        }
        &:after {
            bottom: 0;
            height: 150px;
            background: linear-gradient(to top, #ffffff, rgba(#ffffff, 0));
        }
    }
}

.social__links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $gray-900;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    @include media-breakpoint-up(lg) {
        width: 50px;
        height: 50px;
    }
    &:hover {
        border-color: $primary;
    }
}

.nav__pills {
    &--step {
        .nav-link {
            padding: 0;
            color: $gray-900;
            font-weight: $font-weight-bold;
            transition: 0.15s;
            + .nav-link {
                margin-top: 40px;
            }
            span {
                display: block;
            }
            &:not(.active) {
                @include media-breakpoint-up(lg) {
                    opacity: .5;
                }
            }
            .number {
                width: 70px;
                @include font-size(2.25rem);
                line-height: normal;
                text-align: center;
                @include media-breakpoint-up(lg) {
                    width: 120px;
                    font-size: 3.75rem;
                }
                &:before {
                    content: "";
                    display: block;
                    margin-bottom: -20px;
                    width: 100%;
                    height: 40px;
                    background: $primary;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: -40px;
                        height: 75px;
                    }
                }
            }
            .text {
                @include font-size(1.125rem);
                @include media-breakpoint-up(lg) {
                    @include font-size(2.25rem);
                }
            }
        }
    }
    &--tab {
        .nav-link {
            padding: 0;
            background: transparent;
            color: rgba($gray-900,.5);
            @include font-size(3rem);
            font-weight: $font-weight-bolder;
            @include media-breakpoint-up(md) {
                margin-right: 125px;
            }
            &.active {
                background: transparent;
                color: $gray-900;
            }
        }
    }
}

.tab__custom {
    &--1 {
        .tab-pane {
            @include media-breakpoint-down(md) {
                display: block;
                opacity: 1;
            }
        }
    }
}

.text {
    &-more {
        color: $gray-900;
    }
}

.pagination {
    display: flex;
    padding-left: 0;
    @include font-size(1.5rem);
    font-weight: $font-weight-bold;
    list-style: none;
    .page-item {
        .page-link {
            display: block;
            color: $primary;
            margin: 0 5px;
            padding: 0 5px;
            line-height: 1;
            text-decoration: none;
        }
        &.active {
            .page-link {
                color: $gray-900;
                text-decoration: underline;
            }
        }
        &.disabled {
            .page-link {
                pointer-events: none;
            }
        }
    }
}