@mixin LineEllipsis ($FontSize: 1, $line-height: 1.5, $LineCount: 1){
    display: block;
    overflow: hidden;
    font-size: $FontSize;
    line-height: $line-height;
    max-height: $FontSize * $line-height * $LineCount;
}