// Spacing

$spacers: (
  0:    0,
  5:    5px,
  10:  10px,
  15:  15px,
  20:  20px,
  25:  25px,
) !default;


// Grid columns

$grid-gutter-width:           20px !default;

// Container padding

$container-padding-x: 20px !default;