// Color system

$gray-900: #231f20 !default;

$primary: #f0c8bf;

// Spacing

$spacers: (
  0:    0,
  5:    5px,
  10:  10px,
  15:  15px,
  20:  20px,
  25:  25px,
  30:  30px,
  35:  35px,
  40:  40px,
  45:  45px,
  50:  50px,
  55:  55px,
) !default;


// Grid columns

$grid-gutter-width:           20px !default;

// Container padding

$container-padding-x: 40px !default;

// Typography

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;700;900&display=swap');

$font-family-base: 'Barlow', sans-serif;

$font-weight-normal:          300 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;