// Color system

$gray-900: #231f20 !default;

$primary: #f0c8bf;

// Spacing

$spacers: (
    0:    0,
    5:    5px,
    10:  10px,
    15:  15px,
    20:  20px,
    25:  25px,
    30:  30px,
    35:  35px,
    40:  40px,
    45:  45px,
    50:  50px,
    55:  55px,
    60:  60px,
    65:  65px,
    70:  70px,
    75:  75px,
    80:  80px,
    85:  85px,
    90:  90px,
    95:  95px,
    100:  100px,
    105:  105px,
) !default;

// Grid breakpoints

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    xxxl: 1560px
) !default;

// Grid columns

$grid-gutter-width:           20px !default;

// Container padding

$container-padding-x:         60px !default;

// Typography

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;700;900&display=swap');

$font-family-base: 'Barlow', sans-serif;

$font-weight-normal:          300 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;

$headings-font-weight:        900 !default;

$h1-font-size:                3.75rem !default;
$h2-font-size:                3rem !default;