{{- partial "_html_start.html" . -}}

{{- partial "_head.html" . -}}


{{- partial "partials/_header.html" . -}}

<main>

<section class="pb-40 pb-lg-100" data-aos="fade-in">
    <div class="container">
        <div class="banner--lg--minh1 row g-0 bg-dark text-white">
            <div class="col-lg-6 position-relative">
                <div class="banner__content p-20 px-lg-70 py-lg-80 text-lg-center">
                    <div class="h1 mb-0">USŁUGI SPINEK</div>
                </div>
                <img src="{{ .Site.BaseURL }}/img/dist/mark--light.png" alt="#" style="right:0; bottom:50px; transform:translate(50%, 0);" class="banner--mark d-none d-lg-block" loading="lazy">
            </div>
            <div class="banner__image col-lg-6 d-none d-lg-block position-relative">
                <img src="{{ .Site.BaseURL }}/img/dist/hero--uslugi.jpg" alt="#" class="banner__image--photo" loading="lazy">
            </div>
        </div>
    </div>
</section>

<section class="pt-md-50 pb-50" data-aos="fade-in">
    <div class="container">
        <div class="mb-10 mb-md-30 text-center">
            <div>
                <div class="h1 m-0">ŚLUBY I PRZYJĘCIA WESELNE</div>
            </div>
        </div>
        <div class="text__custom--3">
            <p>Organizacja wesela z Agencją Ślubną Spinki to ogrom możliwości tworzenia wyjątkowych ślubów.</p><p>Każda z nas, kobiet, ma swoje wyobrażenia o idealnym przyjęciu. Dla jednych to pałac, długi welon i kryształy, a dla innych nowoczesna stodoła i suknia boho. Jesteśmy różne, ale pragniemy jednego - przyjęcia wyjątkowego dla nas! I takie przyjęcia tworzą dla Ciebie Spinki.</p>
        </div>
    </div>
</section>

<section class="pt-md-50" data-aos="fade-in">
    <div class="container">
        <div class="row gx-50 g-xxl-100">
            <div class="col-md-6 mb-40">
                <div class="mb-10 mb-md-30">
                    <div class="h2 m-0">ORGANIZACJA</div>
                    <div class="h1 m-0">ŚLUBU I WESELA</div>
                </div>
                <p>Powiedziałaś “tak” i czas na kolejne decyzje. Rynek ślubny stawia przed Tobą ogromne możliwości. Jest tyle opcji do wyboru, ale możesz wybrać tylko jedną.</p><p>Jak znaleźć swój ślubny styl? Od czego zacząć organizację wesela? Kogo posłuchać, by wybrać właściwie? Znamy odpowiedzi na każde nurtujące Cię pytanie.</p><p>Wiemy, jak się Tobą zaopiekować, by w ślubnym chaosie stworzyć wesele o jakim zawsze marzyłaś. Organizacja ślubu i wesela to wiele elementów, które trzeba ze sobą połączyć. Możemy stworzyć Twoje wesele od samego początku lub wkroczyć w sam środek organizacji.</p>
            </div>
            <div class="col-md-6 mb-40">
                <p><img src="{{ .Site.BaseURL }}/img/dist/organizacjaslubuiwesela.png" alt="#" loading="lazy" class="mb-30 mb-lg-60"></p>
                <p>Organizujemy śluby i wesela zarówno całościowo, od samego początku towarzysząc Ci w podejmowaniu decyzji, ale także na każdym etapie. Nawet, gdy do ślubu pozostał miesiąc, a ty właśnie teraz najbardziej potrzebujesz pomocy ekspertów.</p><p>Jako konsultantki ślubne pomogłyśmy wielu parom spiąć wizję ślubu w jedną, spójną całość. Taką, która potem staje się rodzinną legendą.</p>
            </div>
        </div>
    </div>
</section>

<section class="pt-md-50" data-aos="fade-in">
    <div class="container">
        <div class="row gx-50 g-xxl-100">
            <div class="col-md-6 mb-40 order-md-1">
                <div class="mb-10 mb-md-30">
                    <div class="h2 m-0">KOORDYNACJA</div>
                    <div class="h1 m-0">ŚLUBU I WESELA</div>
                </div>
                <p>Czy chcesz przed ślubem mieć pewność, że o niczym nie zapomniałaś? Czy chcesz móc cieszyć się zbliżającym się przyjęciem? A potem czy chcesz być gościem na swoim własnym ślubie? Wiemy jak zrobić, byś przed weselem spała spokojna.</p><p>Wyobraź sobie, że zbliża się dzień Twojego ślubu. Wszystkie ustalenia z podwykonawcami wymagają teraz przypilnowania. To czas, gdy wizja, obecna do tej pory na papierze, zaczyna przybierać realne kształty. To czas, gdy trzeba podejmować dużo decyzji. To czas, który przebiega najbardziej intensywnie. </p>
            </div>
            <div class="col-md-6 mb-40">
                <p><img src="{{ .Site.BaseURL }}/img/dist/koordynacjaslubuiwesel.png" alt="#" loading="lazy" class="mb-30 mb-lg-60"></p>
                <p>Koordynacja ślubu i wesela to czas właśnie dla nas! Spinamy wszystkie elementy o których rozmawialiśmy przez wiele miesięcy. Pilnujemy ustaleń, które są tak ważne, by dzień ślubu był zgodny z Twoimi oczekiwaniami. A w dniu ślubu Ty i Twoi bliscy macie czas na to, co jest szczególnie ważne - na przeżywanie, na zabawę, na bycie ze sobą. O to czy tort dojechał, czy autokar zabrał gości - martwimy się my. Wam pozostaje przeżywać dzień ślubu. W spokoju i w miłości.</p>
            </div>
        </div>
    </div>
</section>

<section class="pt-md-50" data-aos="fade-in">
    <div class="container">
        <div class="row gx-50 g-xxl-100">
            <div class="col-md-6 mb-40">
                <div class="mb-10 mb-md-30">
                    <div class="h2 m-0">WESELE</div>
                    <div class="h1 m-0">LAST MINUTE</div>
                </div>
                <p>Czy wiesz, że organizacja wesel last minute jest naszą specjalnością?</p><p>Zorganizowanie ślubu i wesela w ekstremalnie krótkim czasie wymaga wiedzy eksperckiej, znajomości branży ślubnej i spokoju. Spinamy przyjęcia w ekstremalnie krótkim czasie, z zachowaniem wysokich standardów i spełniając Twoje oczekiwania.</p><p>Obalamy mity, że na organizację wesela potrzeba kilku lat! Nie chcesz czekać do przyszłego roku? Nie musisz! Mamy swoje sposoby i znamy ludzi z branży, z którymi możesz mieć imprezę życia już za kilka miesięcy! Nasz rekord to wesele w 3 tygodnie. Wiemy, że to możliwe! Teraz czas, byś sama się o tym przekonała.</p>
            </div>
            <div class="col-md-6 mb-40">
                <p><img src="{{ .Site.BaseURL }}/img/dist/weselelastminute.png" alt="#" loading="lazy" class="mb-30 mb-lg-60"></p>
                <p>Śluby last minute to także oferta, która sprawdzi się, gdy data Twojego ślubu zbliża się zbyt szybko, a Ty nie masz czasu na to, by zająć się wszystkimi elementami.</p><p>Każdego roku pomagamy doprowadzić do końca wesela, które w pewnym momencie utknęły. Brak czasu i brak możliwości poświęcenia go na organizację - znamy takie scenariusze. Wiemy, że potrzebujesz teraz kogoś, kto zepnie wszystko w jedną spójną całość. Pozwól, że to my pomożemy Ci i pokażemy, że organizacja swojego ślubu z nami to przyjemność.</p>
            </div>
        </div>
    </div>
</section>

<section class="pt-md-50 pb-10 pb-md-90" data-aos="fade-in">
    <div class="container">
        <div class="row gx-md-50">
            <div class="col-md-5 d-none d-md-block">
                <div class="nav nav__pills--place mb-20" role="tablist">
                    <a class="nav-link active" data-toggle="pill" href="#tab-ankieta" role="tab">
                        <span class="text">Miejskie wesele (miejski ślub)</span>
                    </a>
                    <a class="nav-link" data-toggle="pill" href="#tab-kosztorys" role="tab">
                        <span class="text">Ślub w plenerze</span>
                    </a>
                    <a class="nav-link" data-toggle="pill" href="#tab-umowa" role="tab">
                        <span class="text">Wesele w plenerze</span>
                    </a>
                    <a class="nav-link" data-toggle="pill" href="#tab-umowa" role="tab">
                        <span class="text">Ślub za granicą</span>
                    </a>
                    <a class="nav-link" data-toggle="pill" href="#tab-umowa" role="tab">
                        <span class="text">Wesele międzynarodowe</span>
                    </a>
                </div>
            </div>
            <div class="col-md">
                <div class="tab__custom--1 tab-content">
                    <div class="tab-pane fade mb-30 mb-md-0 show active" id="tab-ankieta" role="tabpanel">
                        <div class="nav__pills--place d-md-none mb-10 mb-md-20">
                            <div class="nav-link">
                                <span class="text">Miejskie wesele (miejski ślub)</span>
                            </div>
                        </div>
                        <p>
                            <img src="{{ .Site.BaseURL }}/img/dist/place.jpg" alt="#" loading="lazy">
                        </p>
                        <p>Miejskie wesele to obietnica przyjęcia nowoczesnego, pełnego nietuzinkowych rozwiązań, zgodnego z trendami i z Twoją wizją. Ślub na dachu wieżowca i wesele w poindustrialnej przestrzeni. Ceremonia w nowoczesnym kościele i przyjęcie w eleganckiej restauracji. Miejskie śluby mają niejedno oblicze. Jakie jest Twoje wymarzone? Pozwól, że wspólnie pomożemy Ci je znaleźć. </p>
                    </div>
                    <div class="tab-pane fade mb-30 mb-md-0" id="tab-kosztorys" role="tabpanel">
                        <div class="nav__pills--place d-md-none mb-10 mb-md-20">
                            <div class="nav-link">
                                <span class="text">Ślub w plenerze</span>
                            </div>
                        </div>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-lg-50 pb-20 pb-md-90" data-aos="fade-in">
    <div class="container">
        <div class="mb-20 mb-md-50 text-center">
            <div class="h1 m-0">EVENTY</div>
            <div class="h2 m-0">PRZYJĘCIA RODZINNE/IMPREZY RODZINNE</div>
        </div>
        <div class="row g-30 g-sm-50 g-xxl-100">
            <div class="col-6 col-lg-3" data-aos="fade-in">
                <div class="card__event">
                    <div class="card__event--image mb-10">
                        <img src="{{ .Site.BaseURL }}/img/dist/event--organizacjababyshower.jpg" alt="#" loading="lazy">
                    </div>
                    <div class="card__event--body">
                        <div class="card__event--title">Organizacja baby shower</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-in">
                <div class="card__event">
                    <div class="card__event--image mb-10">
                        <img src="{{ .Site.BaseURL }}/img/dist/event-organizacjaurodzin.jpg" alt="#" loading="lazy">
                    </div>
                    <div class="card__event--body pr-20 pr-md-0">
                        <div class="card__event--title">Organizacja urodzin</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-in">
                <div class="card__event">
                    <div class="card__event--image mb-10">
                        <img src="{{ .Site.BaseURL }}/img/dist/event-organizacjajubileuszy.jpg" alt="#" loading="lazy">
                    </div>
                    <div class="card__event--body">
                        <div class="card__event--title">Organizacja jubileuszy</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-in">
                <div class="card__event">
                    <div class="card__event--image mb-10">
                        <img src="{{ .Site.BaseURL }}/img/dist/event-organizacjazareczyn.jpg" alt="#" loading="lazy">
                    </div>
                    <div class="card__event--body">
                        <div class="card__event--title">Organizacja zaręczyn</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</main>

{{- partial "_footer.html" . -}}
{{- partial "_footer-scripts.html" . -}}

{{- partial "_html_end.html" . -}}