<footer class="pt-30 pt-md-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row h-100">
					<div class="col-md-6">
						<ul class="list list--footer list-unstyled mb-20 mb-md-50">
							<li><a href="{{ .Site.BaseURL }}/about">O nas</a></li>
							<li>
								<a href="{{ .Site.BaseURL }}/services">Co robimy</a>
							</li>
							<li>
								<a href="{{ .Site.BaseURL }}/portfolio">Portfolio</a>
							</li>
							<li>
								<a href="{{ .Site.BaseURL }}/reference">Referencje</a>
							</li>
							<!-- <li><a class="disabled" href="#">Akademia Ślubna</a></li> -->
							<li>
								<a href="{{ .Site.BaseURL }}/form"
									>Kalkulator weselny</a
								>
							</li>
						</ul>
						<!-- <ul class="list list-unstyled mb-50 d-none d-md-block">
							<li><a href="#">Polityka prywatności</a></li>
							<li><a href="#">Regulamin</a></li>
						</ul> -->
					</div>
					<div class="col-md-6 d-flex flex-column">
						<div class="mb-20 mb-md-50 order-md-1">
							<a href="#" class="social__links mr-15"
								><i class="fab fa-facebook-f fa-fw"></i
							></a>
							<a href="#" class="social__links mr-15"
								><i class="fab fa-pinterest-p fa-fw"></i
							></a>
							<a href="#" class="social__links mr-15"
								><i class="fab fa-instagram fa-fw"></i
							></a>
						</div>
						<div class="mb-20 mb-md-50">
							<p>
								<strong>NK Group Karina Ciosk-Komorowska</strong>
								<br /><br />25-002 Kielce, Ul. Sienkiewicza 57/6
								<br />NIP 959-146-47-75 <br /><br />Tel.
								<a href="#">663 256 486</a> <br />Tel.
								<a href="#">691 236 486</a> <br /><br />e-mail:
								<a href="#">biuro@agencjaspinki.pl</a>
							</p>
						</div>
					</div>
					<div class="col-12 mb-50 mt-auto d-none d-lg-block">
						<div class="row">
							<div class="col-6">COPYRIGHTS ©2020 Spinki</div>
							<div class="col-6">
								Realizacja - <a href="#">eConnect4u</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-20 mb-md-50">
				<div id="footer__map"></div>
			</div>
		</div>
		<div class="row d-md-none">
			<ul class="list list-unstyled mb-20">
				<li><a href="#">Polityka prywatności</a></li>
				<li><a href="#">Regulamin</a></li>
			</ul>
		</div>
		<div class="row d-lg-none justify-content-between">
			<div class="col-12 col-md-6 mb-10 mb-md-50 order-md-1">
				Realizacja - <a href="#">eConnect4u</a>
			</div>
			<div class="col-12 col-md-6 mb-20 mb-md-50">
				COPYRIGHTS ©2020 Spinki
			</div>
		</div>
	</div>
</footer>
