<header class="navbar sticky-top navbar-expand-xxl bg-white mb-md-30 mt-xxl-30">
	<div class="container position-relative">
		<a class="navbar-brand" href="./">
			<img src="{{ .Site.BaseURL }}/img/dist/logo.png" alt="#" />
		</a>

		<button
			class="navbar-toggler"
			type="button"
			data-toggle="modal"
			data-target=".modal__nav"
		>
			<i class="fas fa-bars fa-lg"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">O nas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Co robimy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Referencje</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Akademia Ślubna</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Kalkulator weselny</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="~/blog">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Formularz</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">{ Kontakt }</a>
				</li>
			</ul>
		</div>
	</div>
</header>

<div
	class="modal__nav modal fade"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button
					class="btn-close"
					type="button"
					data-dismiss="modal"
					aria-label="Close"
				>
					<i class="fas fa-times fa-lg"></i>
				</button>
			</div>
			<div class="modal-body">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">O nas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Co robimy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Referencje</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Akademia Ślubna</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Kalkulator weselny</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Formularz</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{ Kontakt }</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
