<div class="card__blog">
    <div class="card__blog--image">
        <img src="{{ .Site.BaseURL }}/img/dist/portfolio_blog.jpg" alt="#" loading="lazy">
    </div>
    <div class="card__blog--body p-20 pt-15 bg-dark text-white">
        <div class="card__blog--title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, suscipit.</div>
        <div class="card__blog--text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque facere numquam repellat repellendus ipsam voluptatibus sint nam molestiae ea alias, velit dolor quisquam repudiandae dolorem sed distinctio! Asperiores, numquam placeat?</div>
        <time datatime="yyyy-mm-dd" class="card__blog--date">11.07.2020</time>
    </div>
    <a href="#" class="stretched-link"></a>
</div>