<div class="card__portfolio">
    <div class="card__portfolio--image">
        <img src="{{ .Site.BaseURL }}/img/dist/portfolio_blog.jpg" alt="#" loading="lazy">
    </div>
    <div class="card__portfolio--body p-20 pt-15 bg-primary">
        <div class="card__portfolio--title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, suscipit.</div>
        <div class="card__portfolio--text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque facere numquam repellat repellendus ipsam voluptatibus sint nam molestiae ea alias, velit dolor quisquam repudiandae dolorem sed distinctio! Asperiores, numquam placeat?</div>
    </div>
    <a href="#" class="stretched-link"></a>
</div>