<div class="card__reference">
    <div class="card__reference--image">
        <img src="{{ .Site.BaseURL }}/img/dist/card__reference.jpg" alt="#" loading="lazy">
        <svg class="card__reference--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 520 446.86"><path d="M292.57,36.57V256H438.86c0,80.66-65.63,146.29-146.29,146.29v73.14C413.57,475.43,512,377,512,256V36.57Z" transform="translate(4 -32.57)" style="fill:none;stroke:#f0c8bf;stroke-miterlimit:10;stroke-width:8px"/><path d="M0,256H146.29c0,80.66-65.63,146.29-146.29,146.29v73.14C121,475.43,219.43,377,219.43,256V36.57H0Z" transform="translate(4 -32.57)" style="fill:none;stroke:#f0c8bf;stroke-miterlimit:10;stroke-width:8px"/></svg>
    </div>
    <div class="card__reference--body p-20 p-lg-30">
        <div class="card__reference--heading">Irmina i Bartek</div>
        <div class="card__reference--text">Po wielu latach razem zdecydowaliśmy się na ślub, ale taki w którym uczestniczyć będą nasi najbliższy z czterech różnych części świata, mówiący w czterech różnych językach. Na ślub zima , w sercu Tatr...</div>
        <div class="card__reference--link"><a href="#">Czytaj więcej</a></div>
    </div>
</div>