<section class="pt-md-50 pb-10 pb-md-90" data-aos="fade-in">
    <div class="container">
        <div class="image__custom--text mb-20 mb-md-70">
            <img src="{{ .Site.BaseURL }}/img/dist/etapywspolpracy.jpg" alt="#" loading="lazy" class="">
            <div class="content">
                <div class="h2 m-0">ETAPY</div>
                <div class="h1 m-0">WSPÓŁPRACY</div>
            </div>
        </div>
        <div class="row gx-md-50">
            <div class="col-md-5 d-none d-md-block">
                <div class="nav nav__pills--step mb-20" role="tablist">
                    <a class="nav-link active" data-toggle="pill" href="#tab-ankieta" role="tab">
                        <span class="number">1</span>
                        <span class="text">Poznajmy się czyli pokaż nam swoje oczekiwania - ankieta</span>
                    </a>
                    <a class="nav-link" data-toggle="pill" href="#tab-kosztorys" role="tab">
                        <span class="number">2</span>
                        <span class="text">Porozmawiajmy o budżecie - kosztorys</span>
                    </a>
                    <a class="nav-link" data-toggle="pill" href="#tab-umowa" role="tab">
                        <span class="number">3</span>
                        <span class="text">Zacznijmy organizację Twojego ślubu - umowa</span>
                    </a>
                </div>
            </div>
            <div class="col-md pt-lg-115">
                <div class="tab__custom--1 tab-content">
                    <div class="tab-pane fade mb-30 mb-md-0 show active" id="tab-ankieta" role="tabpanel">
                        <div class="nav__pills--step d-md-none mb-10 mb-md-20">
                            <div class="nav-link">
                                <span class="number">1</span>
                                <span class="text">Poznajmy się czyli pokaż nam swoje oczekiwania - ankieta</span>
                            </div>
                        </div>
                        <p>Organizacja ślubu zaczyna się od poznania Twoich pragnień. Zapewne masz już wstępną wizję swojego ślubu. Może zebrałaś już inspiracje, które pozwolą nam zobaczyć ślub Twoimi oczami. To bardzo ważne, byśmy od początku wiedziały jakie są Twoje pragnienia. <br><br>Nasze pierwsze spotkanie, czy to na kawie, czy przez internetowe łącza, pomoże nam się lepiej poznać. Bardzo ważne, byś wraz ze swoim narzeczonym podała nam jak najwięcej szczegółów odnośnie Waszego ślubu. Podchodzimy bardzo skrupulatnie do wypytania o wizję, budżet i zakres prac, który mamy dla Was wykonać. <br><br>Ale to spotkanie ma jeszcze inny, bardzo istotny dla naszej współpracy, wymiar. To właśnie teraz, na pierwszym spotkaniu, tworzy się między nami więź. Musisz poczuć, że rozumiecie się z konsultantką i ufacie jej bezgranicznie. To podstawa najlepszej współpracy i gwarancja, że Wasze wesele będzie doskonale zorganizowane.</p>
                    </div>
                    <div class="tab-pane fade mb-30 mb-md-0" id="tab-kosztorys" role="tabpanel">
                        <div class="nav__pills--step d-md-none mb-10 mb-md-20">
                            <div class="nav-link">
                                <span class="number">2</span>
                                <span class="text">Porozmawiajmy o budżecie - kosztorys</span>
                            </div>
                        </div>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                    <div class="tab-pane fade mb-30 mb-md-0" id="tab-umowa" role="tabpanel">
                        <div class="nav__pills--step d-md-none mb-10 mb-md-20">
                            <div class="nav-link">
                                <span class="number">3</span>
                                <span class="text">Zacznijmy organizację Twojego ślubu - umowa</span>
                            </div>
                        </div>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>